* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.profile-img {
    width: 70%;
    max-width: 280px;
}

@media (min-width: 992px) {
    .profile-img {
        width: 100%;
        max-width: 400px;
    }
}

.skill-card {
    transition: all 0.3s ease;
    cursor: pointer;
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.cert-card {
    transition: 0.3s;
}

.cert-card:hover {
    transform: translateY(-5px);
}